/*All*/

a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
:root {
    --selection-color: #2196F3;
    --head-color: #212121;
    --text-color: #757575;
}
body {
    font-family: Roboto, sans-serif;
    color: var(--head-color);
}

/*Header*/

.header-logo {
color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.78px;
}
.header-logo span{
    color: var(--selection-color);
}
.header-navigation a{
    color: var(--head-color);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.28px;
}
.header-navigation a:focus,
.header-navigation a:hover{
    color: var(--selection-color);
}
.header-navigation .link.current{
color: var(--selection-color);
}
.header-contacts a{
    color: var(--text-color);
    
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.28px;
}
.header-contacts a:focus,
.header-contacts a:hover {
    color: var(--selection-color);
}

/*index.html*/

.base{
    background-color: #2F303A;
}
.base h1{
    color: #FFF;
    
        text-align: center;
        font-family: Roboto;
        font-size: 44px;
        font-style: normal;
        font-weight: 900;
        line-height: 1.36364;
        letter-spacing: 2.64px;
        text-transform: uppercase;
}
.base-order {
    color: #FFF;
    
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.875;
        letter-spacing: 0.96px;
        background-color: var(--selection-color);
        cursor: pointer;
}
.advantages-head {  
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.42px;
        text-transform: uppercase;
}
.advantages-text {
    color: var(--text-color);
    
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.71429;
        letter-spacing: 0.42px;
}
.about-head {    
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 1.08px;
}
.team {
    background-color: #F5F4FA;
}
.team li{
    background-color: #FFFFFF;
}
.team-head {
     text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1.08px;
}
.team-name {
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.48px;
}
.team-profession {
    color: var(--text-color);
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 0.48px;
}

/*portfolio.html*/

.portfolio-button {
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.48px;
    background-color: #F5F4FA;
    cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--selection-color);
    color: #FFFFFF;
}

.portfolio-head {
    color: var(--head-color);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
}

.portfolio-text {
    color: var(--text-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875;
    letter-spacing: 0.48px;
}

/*Footer*/

footer {
    background-color: #2F303A;
}
.footer-logo {
    color: #FFF;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.78px;
}

.footer-logo span {
    color: var(--selection-color);
}
.footer-location {
color: #FFF;

    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71429;
    letter-spacing: 0.42px;
}
.footer-contacts {
    color: rgba(255, 255, 255, 0.60);
    
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.71429;
        letter-spacing: 0.42px;
}